{% extends '::base.html.twig' %}

{% block stylesheets %}
{% stylesheets
    'bundles/dc3instawall/css/normalize.css'
    'bundles/dc3instawall/css/demo.css'
    'bundles/dc3instawall/css/component.css'
    filter='cssrewrite'
 
%}
		<link rel="stylesheet" href="{{ asset_url }}"  />
{% endstylesheets %}
{% endblock %}

{% block body %}

{% if entity.id == 17 %}
<style>
.container section { 
  background: url("{{ asset('bundles/dc3instawall/images/wearedc.jpg') }}") no-repeat center center fixed !important; 
}

.htag {
	background-color: rgba(3,4,28,0.8) !important;
}

.bandeau {
font-family: 'GothamBold', 'sans-serif';
font-weight: 700;
font-size: 50px;
background-color: rgba(3,4,28,0.2);
color: rgba(255,255,255,1);
height: auto;
padding: 15px 30px 10px 30px;
text-align: center;
position: fixed;
z-index: 11;
right: 0;
width: 100%;
top: 0;
}

.bandeau img {
margin-top: 3px;
margin-bottom: 20px;
width: 140px;
display: block;
margin: auto;
}

.bandeau span {
	margin-top: 10px;
	display: block;
}
</style>
{% endif %}

{% if entity.id == 18 %}
<style>
.container section { 
  background: url("{{ asset('bundles/dc3instawall/images/fond.png') }}") no-repeat center center fixed !important; 
}

.htag {
font-family: 'GothamBold', 'sans-serif';
font-weight: 700;
font-size: 40px;
background-color: rgba(100,26,69,0.8);
color: rgba(255,255,255,1);
height: auto;
padding: 15px 30px 10px 30px;
text-align: right;
position: fixed;
z-index: 11;
right: 0;
width: 100%;
bottom: 0;
}
</style>
{% endif %}

<div class="container">	
	<div class="loadconteneur">
		<div id="loadstate" class="loader">
		<p>Chargement</p>
		</div>	
	</div>
	{% if entity.id == 17 %}
	<div class="bandeau">
	<img src="{{ asset('bundles/dc3instawall/images/LOGO_DIGITAL.png') }}" alt="instagram-logo-white-png" />
	<span>WE ARE DC</span>
	</div>
	{% endif %}
<!-- 	<div class="htag" style="display:none;" >#{{ entity.hTag }}</div> -->
	<section style="display:none;" id="photostack-1" class="photostack ">
		<div>
		{% for pic in pics %}
				<figure data-picid="{{ pic.id }}">	
					
						<img id="{{ pic.id }}" src="{{ pic.url }}" alt="img01"/>
					
					{% if pic.comment != '' %}					
					<span class="picled">
						<p class="legende">
							<span>{{ pic.comment|length > 120 ? pic.comment|slice(0, 120) ~ '...' : pic.comment }}</span>
						</p>
					</span>	
					{% endif %}
					<figcaption>
						<p class="photostack-title"><img src="{{ pic.userPic }}" alt="userpic"><span id="name">{{ pic.userName }}</span><span class="like">{{ pic.likeCount }} j'aime</span></p>
					</figcaption>
				</figure>
		{% endfor %}
		</div>
	</section>
	<div class="htag">
	<span>
	<img src="{{ asset('bundles/dc3instawall/images/instagram-logo.png') }}" alt="instagram-logo-white-png" />
	#{{ entity.hTag }}</span>
	</div>
</div>
{% endblock %}

{% block photostack %}
<script>

// supprime les images non chargés

$( "img" ).load().error(function() {
  	
    $( this ).parent( 'figure' ).remove();	
    	    
});

// affiche le chargement des images

$(window).load(function() {
    
    $(window).resize(function () {location.reload();});
    
    var maxHeight = $(window).height();
    
    $( ".photostack" ).css( "height", maxHeight );
    
    $( '#loadconteneur' ).hide(); // chargement
    
    $( 'div section, .htag' ).show();		 
    
    
   var photostack =  new Photostack(document.getElementById( 'photostack-1' ), {
   		start:'last',
	   callback : function (item) {
	   }
   });    
   

   function reload(b){
   	

   		var IsNewImage = false;
	   	$.ajax ({
	   		type : "GET",
		 	url: "{{ path('event_refresh', { 'id': entity.id }) }}",
		 	dataType : "json"
		 }).done(function(resp) {
	 		data = resp.pics;
	 		
		 	for(i=0;i<data.length;i++){
			 	
			 	if ($("img[src$='"+data[i].URL+"']").length==0){
			 	IsNewImage = true;
			 		console.log('image no existe');
			 		if(data[i].COMMENT.length > 120){
				        data[i].COMMENT = data[i].COMMENT.substr(0, 120)+'...';
				    }
				    
				    if (data[i].COMMENT.length == 0) {
					    var newFigure = $('<figure data-picid="'+data[i].PICID+'"><img src="'+data[i].URL+'" alt="img01"><figcaption><p class="photostack-title"><img src="'+data[i].USERPIC+'" alt="userpic"><span id="name">'+data[i].USERNAME+'</span><span class="like">'+data[i].LIKES+' j\'aime</span></p></figcaption></figure>');
				 	
				    } else {
				    
				    var newFigure = $('<figure data-picid="'+data[i].PICID+'"><img src="'+data[i].URL+'" alt="img01"><span class="picled"><p class="legende"><span>'+data[i].COMMENT+'</span></p></span><figcaption><p class="photostack-title"><img src="'+data[i].USERPIC+'" alt="userpic"><span id="name">'+data[i].USERNAME+'</span><span class="like">'+data[i].LIKES+' j\'aime</span></p></figcaption></figure>');
				    
				    }
				 	newFigure.hide();
				 	
				 	var figures = $('#photostack-1 div figure');
				 	console.log(figures);
				 	//pour supprimer la derniere image si plus de 100 image
				 	if (photostack.allItemsCount != 0){
					 	if (photostack.getItems().length >100){
						 	$(figures[0]).fadeOut(function () {
						 		$(this).remove();
						 	});
					 	}
					}
				 	console.log(figures.length);
					$('#photostack-1 div').append(newFigure);
					
					load_counter = 0;
					$.each(newFigure.find('img'), function(i, item) {
					    $(item).load(function() {
					        load_counter ++;
					        if (load_counter == newFigure.find('img').length) {
					            // all items have loaded
								newFigure.fadeIn();
								delete photostack;
								photostack =  new Photostack(document.getElementById( 'photostack-1' ), {
						   			start:'last'
						   		});
						   		setTimeout(reload, 2000);

					        }
					    });
					})
					break;
			 	} else {
			 		console.log('image existe');				 				 		
			 	}
		 	}
		 	
		 	
		 	
		 	if (!IsNewImage) {
		 		
		
	
		
				console.log('search images');
				console.log(photostack);
				if (photostack.allItemsCount != 0){
					var randomImage = randomImagePS(photostack);
				 			 					
					//console.log(randomImage);
					//console.log(photostack.getCurrentItem());
				 	var imageShow = $(photostack.getItem(randomImage));		 	
				 	var picid = imageShow.data('picid');
				 	$.ajax ({
				   		type : "GET",
					 	url: "/app_dev.php/pic/"+picid +"/instagram-update",
					 	dataType : "json"
				 	}).done(function(data) {
					 	imageShow.find('.like').html(data.LIKES+' j\'aime');
					 	photostack.open(randomImage);
					 	setTimeout(reload, 2000);
				 	}).error(function(){
					 	//setTimeout(reload, 1000);
				 	});
				}
				else {
					setTimeout(reload, 2000);
				}
			 				 	


		 	}	
	 	});

		 	
	}
	

	reload(0);
	
	function randomImagePS(ps){

		var randomImage = Math.floor(Math.random() * ps.getItems().length);
		console.log(randomImage);
		console.log(photostack.getCurrentItem());
		if ( randomImage == photostack.getCurrentItem()) {
			console.log('same');
			return randomImagePS(ps); 	
		} else {
			return randomImage;
		}
		
	}
	
});






</script>
{% endblock %}
